<header><%= @title3 %></header>
    <div>
      <img src='<%= @movie_hash["Poster"] %>'>
      <ul>
        <li><span>Year:</span> <%= @movie_hash["Year"] %></li>
        <li><span>Rated:</span> <%= @movie_hash["Rated"] %></li>
        <li><span>Released:</span> <%= @movie_hash["Released"] %></li>
        <li><span>Runtime:</span> <%= @movie_hash["Runtime"] %></li>
        <li><span>Genre:</span> <%= @movie_hash["Genre"] %></li>
        <li><span>Director:</span> <%= @movie_hash["Director"] %></li>
        <li><span>Writer:</span> <%= @movie_hash["Writer"] %></li>
        <li><span>Actors:</span> <%= @movie_hash["Actors"] %></li>
        <li><span>Plot:</span> <%= @movie_hash["Plot"] %></li>
        <li><span>imdb Rating:</span> <%= @movie_hash["imdbRating"] %></li>
        <li><span>imdb Votes:</span> <%= @movie_hash["imdbVotes"] %></li>
        <li><span>imdb ID:</span> <%= @movie_hash["imdbID"] %></li>
        <li><span>Response:</span> <%= @movie_hash["Response"] %></li>
      </ul>
    </div>
